/* Scroll */
::-webkit-scrollbar{
    width: .7rem;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: #4b70dc;
}

/* Financial Accounts */
.addManagersAccount{
    overflow-x: scroll;
}
.addManagersAccount table{
    width: max-content;
}

#managerAccount{
    display: none;
}
#tutorAccount{
    display: none;
}

/* Curriculums */
.flexColumn > .column{
    margin: 0px 5px 0px 5px;
}
@media screen and (max-width: 850px) {
    .flexColumn {
        flex-direction: column;
        align-items: center;
    }
    .flexColumn > .column{
        width: 100% !important;
        margin-bottom: 10px;
    }
}

/* Tutors */
@media screen and (max-width: 850px) {
    .tutorDetails{
        flex-direction: column;
    }
    .tutorDetails > div{
        margin-bottom: 15px;
    }
}